<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cisdi.qingzhu.qrcode">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application>

        <activity
            android:name=".ui.QRScanActivity"
            android:label="@string/zbar_title_activity_zbar_scan"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BaseCoreTheme.NoActionBar" />

    </application>

</manifest>
