<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cisdi.qingzhu.webview">

    <application>
        <activity
            android:name=".ui.X5WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseCoreTheme.NoActionBar" />
    </application>

</manifest>